@page "/resume"

<h3>My CV</h3>
<h2>Work Experience</h2>
<div title="Work Experience">
    <MudExpansionPanels MultiExpansion="true">
        <MudExpansionPanel Text=".Net Software Developer /br July 2021-Present">
            Epsilon Net - Thessaloniki
        </MudExpansionPanel>
        <MudExpansionPanel Text="IT Support Soldier /br October 2020 - June 2021">
            88th Military Command - Lemnos
        </MudExpansionPanel>
        <MudExpansionPanel Text="Volunteer Computer Programmer /br November 2014 - April 2015">
            Pandora Robotics Team - Aristotle University of Thessaloniki
        </MudExpansionPanel>
    </MudExpansionPanels>
</div>
<h2>Education</h2>
<div title="Education">

    <MudExpansionPanels MultiExpansion="true">
        <MudExpansionPanel Text="MSc in Electrical and Computer Engineering /br September 2011 - July 2020">
            Aristotle University of Thessaloniki
        </MudExpansionPanel>
        <MudExpansionPanel Text="High School Diploma /br 2005-2011">
            Panorama High School
        </MudExpansionPanel>
    </MudExpansionPanels>
</div>

@code {

}
