@using Types;

<div class = "experience">
    <h3>@data?.Title
    <span style="margin-left: 5em;">
    @data?.DateStart - @data?.DateEnd
    </span></h3>
    <h4>@data?.CompanyName</h4>
    <div>
        @data?.Description
    </div>
</div>

@code {
    [Parameter]
    public ExperienceModel? data {get; set;}
}
